:root {
    --Lightgray: #5F6469;
    --Lightgrayishblue: hsl(210, 46%, 95%);
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --textgray: #949698;
  }


body{
    display: flex;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 7% 11% 0% 11%;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
}

testimonial {
    background: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
  }

attestant {
    align-items: center;
    display: flex;
    flex-flow: row;
}

attestant img{
    border-radius: 50%;
    border: 1px solid white;
    border-color: var(--textgray);
    width: 30px;
    height: 30px;
}

attestant info {
    margin-left: 1em;
    display: flex;
    flex-flow: column;
}

info h4{
    font-size: 0.8em;
    margin: 0%;
    font-weight: 100;
}

info p{
    font-size: 0.7em;
    margin:0%;
    color: var(--textgray);
    font-weight: 100;
}

h4{
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 1.3em;
    font-weight: 100;
}

p{
    font-size: 0.87em;
    margin:0%;
    color: var(--textgray);
    font-weight: 100;
    margin: 0%;
}


#t1 {
    grid-column: span 2; 
    grid-row: span 1; 
    background-color: var(--Moderateviolet);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 80px;
    color: white;
}

#t2 {
    grid-column: span 1; 
    grid-row: span 1; 
    background-color: var(--Verydarkgrayishblue);
    color: white;
}

#t3 {
    grid-column: span 1; 
    grid-row: span 1; 
    background-color: var(--White);
    color: var(--Lightgray);
}

#t4 {
    grid-column: span 2; 
    grid-row: span 1; 
    background-color: var(--Verydarkblackishblue);
    color: white;
}

#t5 {
    grid-column: span 1; 
    grid-row: span 2; 
    background-color: var(--White);
    color: var(--Lightgray);
}

@media (max-width: 48em) 
{
    main{
        display: flex;
        flex-flow: column;
        gap: 25px;
        padding: 20px;
    }

    body{
        padding: 5% 1% 5% 1%;
    }
    
    
}
